<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <div class="form-group">
      <label for="account">帳號: </label>
      <input type="text" class="form-control" id="account" formControlName="account" placeholder="請輸入帳號">
      <span class="warning-message" *ngIf="showErrorMsg(form.get('account'),'pattern')">請輸入2-20英數字帳號</span>
    </div>

    <div class="form-group">
      <label for="password">密碼: </label>
      <input type="text" class="form-control" id="password" formControlName="password" placeholder="請輸入密碼">
      <span class="warning-message" *ngIf="showErrorMsg(form.get('password'), 'pattern')">密碼長度8~12位數、必須同時包含大小寫英文、數字、符號，且相同字元不得重複超過 3 次</span>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">登入</button>
    <div *ngIf="this.registerMsg" class="warning-message">註冊成功，請重新登入</div>
    <div *ngIf="loginFailMsg !==null" class="warning-message">{{loginFailMsg}}</div>
    <br>
    <a [routerLink]="['/forgetPassword']">忘記密碼</a>
    <a [routerLink]="['/register']">會員註冊</a>
  </div>
</form>


