
<button class="btn btn-success" (click)="register()">會員註冊</button>

<button class="btn btn-success" (click)="genOTP()">產生OTP</button>
<button class="btn btn-success" (click)="getOTP()">查詢OTP</button>
<button class="btn btn-success" (click)="forgetPw()">忘記密碼</button>
<button class="btn btn-success" (click)="onLogin()">登入</button>
<button class="btn btn-success" (click)="findUser()">查詢會員</button>
<!--<button class="btn btn-success" (click)="">查詢會員訊息</button>-->
<!--<button class="btn btn-success" (click)="">刪除會員訊息</button>-->
<!--<button class="btn btn-success" (click)="">重設密碼</button>-->
<!--<button class="btn btn-success" (click)="">更新會員資料</button>-->
<button class="btn btn-success" (click)="onGetImage()">取得會員上傳圖片</button>
<button class="btn btn-success" (click)="verifyOTP()">驗證OTP</button>

<img [src]="imageUrl" alt="Image">
