<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a  class="navbar-brand" >Ian Lab</a>
          </div>
          <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
              <li routerLinkActive="active">
                <a [routerLink]="['/login']" *ngIf="!loginMode">會員登入</a>
                <a  *ngIf="loginMode" (click)="logout()" style="cursor: pointer" >會員登出</a>
              </li>
              <li routerLinkActive="active">
                <a [routerLink]="['center']">會員中心</a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
