<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h4>忘記密碼</h4>

      <div *ngIf="page===1">
        <form [formGroup]="formAccount" (ngSubmit)="onSubmitFormAccount()">
          <label for="account">帳號:</label>
          <input type="text" id="account" formControlName="account">
          <span class="warning-message"
                *ngIf="!this.formAccount.get('account').valid && this.formAccount.get('account').touched">
                   請輸入2-20英數字帳號</span>
          <br>
          <button type="submit" class="btn btn-primary" [disabled]="!formAccount.valid">確認</button>
          <div class="warning-message" *ngIf="accountErrMsg">請檢查帳號是否輸入錯誤</div>
          <br>
          <a [routerLink]="['/login']">登入</a>
          <a [routerLink]="['/register']">會員註冊</a>
        </form>
      </div>

      <div *ngIf="page===2">
        <label for="opt">檢核碼:</label>
        <input type="text" id="opt" required #ref_opt="ngModel" ngModel>
        <div>
          <a *ngIf="!sendableOTP">沒收到驗證碼嗎?{{second}}秒後可重發</a>
          <a *ngIf="sendableOTP" style="cursor: pointer" (click)="optResendCounter();getOpt()">沒收到驗證碼嗎?</a>
        </div>
        <div class="warning-message" *ngIf="otpErrMsg">檢核碼錯誤</div>
        <button type="button" class="btn btn-primary"  (click)="verifyOpt(ref_opt)">確認
        </button>
        <br>
        <a [routerLink]="['/login']">登入</a>
        <a [routerLink]="['/register']">會員註冊</a>
      </div>

      <div *ngIf="page===3">
        <label for="npwd">新密碼:</label>
        <input type="text" id="npwd" required [(ngModel)]="npwd" (keyup)="verifyPw()">
        <br>
        <label for="npwd2">再次輸入密碼:</label>
        <input type="text" id="npwd2" required [(ngModel)]="npwd2">
        <br>
        <button class="btn btn-primary" (click)="setNpwd()" [disabled]="this.npwd !==this.npwd2">確定</button>
        <div class="warning-message" *ngIf="pwErrMsg">密碼長度8~12位數、必須同時包含大小寫英文、數字、符號，且相同字元不得重複超過 3 次</div>
      </div>

    </div>
  </div>
</div>


